.userTable{
    width: 60%;
    margin: 50px auto;
    background-color: rgb(222, 199, 199);
    padding: 50px;
    border-radius: 10px;
    box-shadow: 1px 1px 8px rgba(0, 0, 0, 0.065);
}

.userTable table{
    width: 100%;
    margin-top: 30px;
}

.userTable table thead th{
    background-color: darkcyan;
    color: white;
}

.userTable table tbody td{
    padding: 10px;
    text-align: center;`
    vertical-align: middle;
}

.btn{
    margin-bottom: 10px;
}

.actionbutton button{
    margin: 0 10px;
}


.noData{
    margin-top: 20px;
    text-align:center;
    color: black;
}